// Text Color
$text-color-normal: #dcddde;

// Text Size
$text-size-large: 16px;
$text-size-normal: 14px;
$text-size-small: 12px;

// Color
$background-primary: #36393f;
$background-dark : #202225;
$primary-color: #5377F4;
$secondary-color: #4c4c4c;
// Box Shadow
$box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
$border : 1px solid #18191c ;
$border-light : 1px solid $text-color-normal ;

// Max Width
$max-width-tablet: 768px;
$max-width-mobile: 576px;

$header-height : 112.58px;
