.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 102px;
  }
  .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 36px;
  }
  .des {
    font-weight: 300;
    margin-top: 36px;
  }
  .sign-social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 10px;
    .button {
      cursor: pointer;
      width: calc(50% - 10px);
      border: $border;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .sub-des {
    margin-top: 27px;
    font-weight: 300;
    text-align-last: left;
    width: 100%;
  }
  form {
    width: 100%;
    margin-top: 40px;
    .row-input {
      + .row-input {
        margin-top: 20px;
      }
    }
    .c-checkbox {
      margin-top: 25px;
    }
    button {
      padding: 15px;
      background-color: $primary-color;
      color: #fff;
      width: 80%;
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      margin-top: 36px;
      cursor: pointer;
    }
  }
  .link {
    color: $text-color-normal;
    margin-top: 10px;
    text-align: right;
  }
}
